<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>PROBE 시제품</title>
</head>

<body>
<div name="div100" id="div100"></div>
<div name="div200" id="div200"></div>

<button class="btn btn-default sr-only" data-target="#layLocInputer" data-toggle="modal" id="btnLocInputer" name="btnLocInputer">모달출력버튼</button><br/>
<div class="modal fade" id="layLocInputer" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- header -->
      <div class="modal-header">
        <!-- header title -->
        <h4 class="modal-title">지역선택</h4>
        <!-- 닫기(x) 버튼 -->
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <!-- body -->
      <div class="modal-body" id="divLocMain">
            Bo2d1y<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      
<input type="hidden" >
<input type="text" class="form-control sr-only" id="validationTooltip01" placeholder="First name" value="Ma1rk">

<input type="text" class="form-control" id="txtDepth1Code" value="" placeholder="txtDepth1Cd">
<input type="text" class="form-control" id="txtDepth2Code" value="" placeholder="txtDepth2Cd">
<input type="text" class="form-control" id="txtDepth3Code" value="" placeholder="txtDepth3Cd">
<input type="text" class="form-control" id="txtDepth1Code" value="" placeholder="txtDepth1Cdnm">
<input type="text" class="form-control" id="txtDepth2Code" value="" placeholder="txtDepth2Cdnm">
<input type="text" class="form-control" id="txtDepth3Code" value="" placeholder="txtDepth3Cdnm">

<input type="text" class="form-control" id="txtParamGrCode" value="" placeholder="txtParamGrCode">
<input type="text" class="form-control" id="txtParamDepth" value="" placeholder="txtParamDepth">
<input type="text" class="form-control" id="txtParamCode" value="" placeholder="txtParamCode">
      
      <!-- Footer -->
      <div class="modal-footer">
        Footer
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>



</body>

<script src="../comn/jquery-3.3.1.js"></script>
<script src="../comn/popper.min.js"></script>
<script src="../comn/bootstrap.min.js"></script>
<link  href="../comn/bootstrap.min.css" rel="stylesheet">

<script src="../js/cm/cmIndex.js"></script>
<script src="../js/util/globalUtil.js"></script>
</html>
