<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>PROBE 시제품</title>
</head>

<body>
<div class="container">
	<button class="btn btn-default sr-only" data-target="#div300" data-toggle="modal" id="btnLocInputer"></button>
	<div id="div100"></div>
	<div id="div200"></div>
	<div id="div300" class="modal fade">
		<div class="modal-dialog">
		</div>
	</div>


</div>
</body>

<script src="../comn/jquery-3.3.1.js"></script>
<script src="../comn/popper.min.js"></script>
<script src="../comn/bootstrap.min.js"></script>
<link  href="../comn/bootstrap.min.css" rel="stylesheet">

<script src="../js/cm/cmIndex.js"></script>
<script src="../js/util/globalUtil.js"></script>
</html>
