
<meta charset="UTF-8">
<script src="../js/cm/cmNav.js"></script>
  
<nav class="navbar navbar-dark navbar-3 cyan darken-2 mb-4">
	<!-- Collapse button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler" 
	aria-controls="navToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">
		<img src = "/images/logo.svg" style="width:40px;height:40px;">
	</a>
	
	<div class="collapse navbar-collapse" id="navToggler">
	  <ul class="navbar-nav mr-auto">
	    <li class="nav-item"><a class="nav-link waves-effect waves-light" href="#" id="cmHome"><i class="fal fa-home"></i> 프로브 홈</a></li>
	    <li class="nav-item"><a class="nav-link waves-effect waves-light" href="#" id="dlMain_9"><i class="fal fa-search-location"></i> 집 구하기</a></li>
	    <li class="nav-item"><a class="nav-link waves-effect waves-light" href="#" id="dlMain_8"><i class="fal fa-megaphone"></i> 집 내놓기</a></li>
	    <li class="nav-item"><a class="nav-link waves-effect waves-light" href="#"><i class="fal fa-file-alt"></i> 사용 방법</a></li>
	    <li class="nav-item"><a class="nav-link waves-effect waves-light" href="#" id="ptIncome"><i class="fal fa-building"></i> 공인중개사 무료 등록</a></li>
	  </ul>
	  <!-- Links -->
	
	</div>
	<!-- Collapsible content -->
	
	</nav>