
<meta charset="UTF-8">
<script src="../js/cm/cmNav.js"></script>
  
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler" aria-controls="navToggler" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-bars"></i>
	</button>
	<a class="navbar-brand" href="#">프로브</a>
	<div class="collapse navbar-collapse" id="navToggler">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item"><a class="nav-link" href="#" id="cmHome"><i class="fal fa-home"></i> 프로브 홈</a></li>
			<li class="nav-item"><a class="nav-link" href="#" id="dlMain_9"><i class="fal fa-search-location"></i> 집 구하기</a></li>
			<li class="nav-item"><a class="nav-link" href="#" id="dlMain_8"><i class="fal fa-megaphone"></i> 집 내놓기</a></li>
			<li class="nav-item"><a class="nav-link" href="#"><i class="fal fa-file-alt"></i> 사용 방법</a></li>
			<li class="nav-item"><a class="nav-link" href="#" id="ptIncome"><i class="fal fa-building"></i> 공인중개사 무료 등록</a></li>
		</ul>
	</div>
</nav>
