<meta charset="UTF-8">

<div class="jumbotron">
  <h1 class="display-4">Hello, There!</h1>
  <p class="lead">할인이 서비스다.</p>
  <hr class="my-4">
  <p>허위 매물 없다.</p>
  <p>매물도 없다.</p>
  <p>중개수수료 할인해주는 공인중개사만 있다.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button" id="cmCusGet" name="cmCusGet">집 구하기</a>
  <a class="btn btn-primary btn-lg" href="#" role="button" id="cmCusSet" name="cmCusSet">집 내놓기</a>
</div>

<div class="alert alert-primary" role="alert">
  신문기사 primary alert
</div>
<div class="alert alert-secondary" role="alert">
  신문기사 secondary alert
</div>
<div class="alert alert-success" role="alert">
  신문기사 success alert
</div>
<div class="alert alert-danger" role="alert">
  신문기사 danger alert
</div>
<div class="alert alert-warning" role="alert">
  신문기사 warning alert
</div>
<div class="alert alert-info" role="alert">
  신문기사 info alert
</div>
<div class="alert alert-light" role="alert">
  신문기사 light alert
</div>
<div class="alert alert-dark" role="alert">
  신문기사 dark alert
</div>



<script src="../js/cm/cmWelcome.js"></script>
