<meta charset="UTF-8">

<div class="jumbotron">
  <h1 class="display-6" id="lblJumboMain">나는 원해요</h1>
  <p class="lead">조건입력.</p>
  <hr class="my-4">
</div>

<div class="container">

	<ul class="nav nav-tabs justify-content-center">
	  <li class="nav-item"><a id="tabDealStep1" class="nav-link active" href="#" data-step="1">구분</a></li>
	  <li class="nav-item"><a id="tabDealStep2" class="nav-link" href="#" data-step="2">방식</a></li>
	  <li class="nav-item"><a id="tabDealStep3" class="nav-link" href="#" data-step="3">물건</a></li>
	  <li class="nav-item"><a id="tabDealStep4" class="nav-link" href="#" data-step="4">지역</a></li>
	  <li class="nav-item"><a id="tabDealStep5" class="nav-link" href="#" data-step="5">금액</a></li>
	  <li class="nav-item"><a id="tabDealStep6" class="nav-link" href="#" data-step="6">의견</a></li>
	</ul>
	
	<button type="button" class="btn btn-outline-primary btn-block" id="btnOkNext" >OK Next</button>
	<br>
	<div class="container">
	  <div class="row" id="divDealMain" name="divDealMain">
	            Loading...
	  </div>
	  
	</div>
	
	<div>
	문제
	</div>

<input id="txtDlBeCode1" type="text" th:value='${dlValStep1}'>
<input id="txtStep" type="text" class="form-control"></input>

<input type="text" class="form-control" id="txtDlCode1" name="txtDlCode1" data-step="1"></input>
<input type="text" class="form-control" id="txtDlCode2" name="txtDlCode2" data-step="2"></input>
<input type="text" class="form-control" id="txtDlCode3" name="txtDlCode3" data-step="3"></input>
<input type="text" class="form-control" id="txtDlCode4" name="txtDlCode4" data-step="4"></input>
<input type="text" class="form-control" id="txtDlCode5" name="txtDlCode5" data-step="5"></input>
<input type="text" class="form-control" id="txtDlCode6" name="txtDlCode6" data-step="6"></input>
	
</div>
<script src="../js/dl/dlMain.js"></script>