<meta charset="UTF-8">
<script src="/js/dl/dlMain.js"></script>
<link rel="stylesheet" href="/css/dl/dlMain.css">

<div class="container">
	<div class="dlNavDiv">
	  <div class="row dlNavRow">
	    <div class="col dlNavDivCol z-depth-1" data-step="1"><i class="fal fa-clipboard-list"></i><br><span>구분</span></div><i class="fal fa-angle-right"></i>
	    <div class="col dlNavDivCol z-depth-1" data-step="2"><i class="fal fa-anchor"></i><br><span>방식</span></div><i class="fal fa-angle-right"></i>
	    <div class="col dlNavDivCol z-depth-1" data-step="3"><i class="fal fa-building"></i><br><span>물건</span></div><i class="fal fa-angle-right"></i>
	    <div class="col dlNavDivCol z-depth-1" data-step="4"><i class="fal fa-map-marker-check"></i><br><span>지역</span></div><i class="fal fa-angle-right"></i>
	    <div class="col dlNavDivCol z-depth-1" data-step="5"><i class="fal fa-money-bill-wave"></i><br><span>금액</span></div><i class="fal fa-angle-right"></i>
	    <div class="col dlNavDivCol z-depth-1" data-step="6"><i class="fal fa-pen-square"></i><br><span>의견</span></div>
	  </div>
	</div>
		<br>
	<div class="jumbotron heavy-rain-gradient">
	  <p class="lead" id="lblJumboMain"></p>
	</div>

	<div class="container">
		<div class="row jumbotron" id="divDealMain" name="divDealMain">
			Loading...
		</div>
	</div>
	
	<button type="button" class="btn default-color-dark waves-effect btn-block" id="btnOkNext">다음</button>
	<input id="txtDlBeCode1" type="text" th:value="${dlValStep1}" class="sr-only">

</div>

<script id="stepCardTemplate" type="text/html">
{{#.}}
<button type="button" class="btn default-color waves-effect pb-btnSelector" for="chk_btnDealMain_{{code}}">
    <input type="checkbox" class="form-check-input chkBtnDealItem" id="chk_btnDealMain_{{code}}" data-cdnm="{{cdnm}}" data-code="{{code}}" data-step="{{STEP}}">
    <label class="form-check-label" for="chk_btnDealMain_{{code}}">{{cdnm}}</label>
</button>
{{/.}}
</script>
