<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/partner/partnerMain.css">
<title>Insert title here</title>
</head>
<body>
	<div class="partnerMain-header">
		<a class="partnerMain-header-text">공인중개사 무료등록</a>
	</div>
	<div class="partnerMain-content">
		<button id="apply" type="button" class="btn btn-success">신청하기</button>
	</div>
	<div class="partnerMain-description">
		추가설명
	</div>
</body>
<script src="/js/partner/partnerMain.js"></script>

</html>
