<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/partner/partnerMain.css">
<title>Insert title here</title>
</head>
<body>
	<br>
	<div class="container text-center">
		<h3>공인중개사 무료등록</h3>
	</div>
	<br>
	<div class="title-divider"></div>
	<br><br>		
	<div class="container text-center">
		<h1><i class="fal fa-file-signature"></i></h1>
		<h3>무료등록을 신청하세요</h3>
		<a>등록이 승인되면 사용자들에게 중개 수수료 정보가 공개됩니다</a>
	</div>
	<br>
	<div class="title-divider"></div>
	<br><br>
	<div class="container text-center">
		<button id="apply" type="button" class="btn btn-success">신청하기</button>
	</div>
</body>
<script src="/js/partner/partnerMain.js"></script>

</html>
