body {
	font-family: 'Nanum Gothic', sans-serif !important;
}

.pb-bgc1 {
    background-color: #ff3344!important;
}

.bg-light {
    /* background-color: #f8f9fa!important; */
    background-color: #00bb33;
}

.navbar-light{ background-color: #e74c3c; }

.pb-btnSelector {
	padding: .4rem 0.7rem!important;
	margin: .2rem;
}

.pb-btnSelector .form-check-input[type=checkbox]+label, 
.pb-btnSelector label.btn input[type=checkbox]+label {
	padding-left: 25px;
}


.pb-btnSelector .form-check-input[type=checkbox]:checked+label:before,
.pb-btnSelector label.btn input[type=checkbox]:checked+label:before {
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
}

.pb-btnSelector .form-check-input[type=checkbox]+label:before,
.pb-btnSelector .form-check-input[type=checkbox]:not(.filled-in)+label:after,
.pb-btnSelector label.btn input[type=checkbox]+label:before,
.pb-btnSelector label.btn input[type=checkbox]:not(.filled-in)+label:after {
    border: 2px solid #ffffff;
}

.pb-btnSelector-unChk .form-check-input[type=checkbox]:checked+label:before,
.pb-btnSelector-unChk label.btn input[type=checkbox]:checked+label:before,
.pb-btnSelector-unChk .form-check-input[type=checkbox]+label:before,
.pb-btnSelector-unChk .form-check-input[type=checkbox]:not(.filled-in)+label:after,
.pb-btnSelector-unChk label.btn input[type=checkbox]+label:before,
.pb-btnSelector-unChk label.btn input[type=checkbox]:not(.filled-in)+label:after {
    border: 2px solid transparent;
}

.pb-btnSelector-unChk .form-check-input[type=checkbox]+label, 
.pb-btnSelector-unChk label.btn input[type=checkbox]+label {
	padding-left: 0px;
}
