.header {
	position: relative;
	width: 100%;
	height: 200px;
}

.content {
	position: relative;
	width: 100%;
	height: 200px;
}

.footer {
	position: relative;
	width: 100%;
	height: 200px;
}

#stepOne {
	height: 50px;
	width: 50px;
	border: 1px solid #ccc;
	border-radius: 15px;
}