body {
	display: none;
}

.steps {
	
}

#stepOne {
	position: relative;
	display: inline-block;
	height: 20%;
	width: 23.5%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 14px;
	font-weight: 700;
}

#stepTwo {
	position: relative;
	display: inline-block;
	height: 20%;
	width: 23.5%;
	border-right: 1px solid #ccc;
	font-size: 14px;
}

#stepThree {
	position: relative;
	display: inline-block;
	height: 20%;
	width: 23.5%;
	border-right: 1px solid #ccc;
	font-size: 14px;
}

#stepFour {
	position: relative;
	display: inline-block;
	height: 20%;
	width: 23.5%;
	border-right: 1px solid #ccc;
	font-size: 14px;
}

#id {
	position: relative;
	width: 80%;
	margin: auto;
}

#irsNo {
	position: relative;
	width: 80%;
	margin: auto;
}

#vendorName {
	position: relative;
	width: 80%;
	margin: auto;
}

#ceoName {
	position: relative;
	width: 80%;
	margin: auto;
}

#telNo1 {
	position: relative;
	width: 80%;
	margin: auto;
}

#address {
	position: relative;
	width: 80%;
	margin: auto;
}

#applicantName {
	position: relative;
	width: 80%;
	margin: auto;
}

#applicantTelNo {
	position: relative;
	width: 80%;
	margin: auto;
}

#applicantType {
	position: relative;
	width: 80%;
	margin: auto;
}

.line-divider {
	border-bottom: 1px solid #ccc;
	width: 80%;
	margin: auto;
}