.header {
	position: relative;
	width: 100%;
	background: #FAFAFA;
	font-size: 0.8em;
}

.content {
	position: relative;
	width: 100%;	
}

.footer {
	position: relative;	
	width: 100%;
}

#stepOne {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	height: 50px;
	width: 50px;
	background: #6799FF;
	color: #FFFFFF;
}

#stepOne-text {
	position: relative;
	left: 12px;
	top: 5px;
}

#stepTwo {
	position: relative;
	display: inline-block;
	margin-left: 20px;
	height: 50px;
	width: 50px;
	background: #5CD1E5;
	color: #FFFFFF;
}

#stepTwo-text {
	position: relative;
	left: 12px;
	top: 5px;
}

#stepThree {
	position: relative;
	display: inline-block;
	margin-left: 20px;
	height: 50px;
	width: 50px;
	background: #5CD1E5;
	color: #FFFFFF;
}

#stepThree-text {
	position: relative;
	left: 12px;
	top: 5px;
}

#stepFour {
	position: relative;
	display: inline-block;
	margin-left: 20px;
	height: 50px;
	width: 50px;
	background: #5CD1E5;
	color: #FFFFFF;
}

#stepFour-text {
	position: relative;
	left: 12px;
	top: 5px;
}

#irsNo {
	position: relative;
}

#vendorName {
	position: relative;
}

#ceoName {
	position: relative;
}

#telNo1 {
	position: relative;
}

#address {
	position: relative;
}

#applicantName {
	position: relative;
}

#applicantTelNo {
	position: relative;
}

.input-title-box {
	width: 200px;	
}

#applicantType {
	position: relative;
}