.steps {
	
}

#stepOne {
	position: relative;
	display: inline-block;
	height: 20%;
	width: 23.5%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 14px;
}

#stepTwo {
	position: relative;
	display: inline-block;
	height: 20%;
	width: 23.5%;
	border-right: 1px solid #ccc;
	font-size: 14px;
	font-weight: 700;
}

#stepThree {
	position: relative;
	display: inline-block;
	height: 20%;
	width: 23.5%;
	border-right: 1px solid #ccc;
	font-size: 14px;
}

#stepFour {
	position: relative;
	display: inline-block;
	height: 20%;
	width: 23.5%;
	border-right: 1px solid #ccc;
	font-size: 14px;
}
